<nav id="topnav" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img alt="3DR DroneShare" src="/images/logo.png" width="141" height="16">
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-center">
        <li>
          {{#link-to 'index'}}
            Explore
          {{/link-to}}
        </li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/upload">Upload</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right-absolute">
        <li>
          {{#if session.isAuthenticated}}
            <a {{ action 'invalidateSession' }}>Logout</a>
          {{else}}
            {{#link-to 'login'}}
              Login
            {{/link-to}}
          {{/if}}
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid" id="main">
  <div class="row">
    <div class="col-xs-12">
      {{outlet}}
    </div>
  </div>
</div>
